---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Diary" description="My writing.">
	<section class="text-left">
		<ol>
			<li><a href="/posts/5_20_26"></a></li>
		</ol>
	</section>
	<section>
		<a href="/info">return</a>
	</section>
</Layout>

