---
import Layout from '../layouts/Layout.astro';
import tamav3 from '/src/assets/img/collection/extra/tama-v3-pb.png';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<p>
			<strong>MAYA ★ </strong> <small>21 he/they</small>
			<br> artist + dev <br> bass lover ૮◞  ◟𑁬∘˙˚ kute mad demon pup
			<br> <a href="mailto:contact@mmdungeon.xyz">contact@mmdungeon.xyz</a>
			<br> <a href="https://www.imood.com/users/madmadmaya"><img src="https://moods.imood.com/display/uname-madmadmaya/fg-dcd8d2/trans-1/imood.gif" alt="The current mood of madmadmaya at www.imood.com" class="m-auto"></a>
		</p>
		<a href="https://cinni.net/?z=/adopt"><img src={tamav3.src} alt="" class="m-auto"></a>
	</section>
</Layout>


