---
import Layout from '../layouts/Layout.astro';
import tamav3 from '/src/assets/img/collection/extra/tama-v3-pb.png';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<div> <img src="" alt=""> </div>
		<p> <strong>MAYA ★ </strong> <small>21 he/they</small> <br> artist + dev ~ ૮◞  ◟𑁬∘˙˚</p>
		<a href="https://cinni.net/?z=/adopt"><img src={tamav3.src} alt="" class="m-auto"></a>
	</section>
</Layout>


