---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<a href="https://www.imood.com/users/madmadmaya"><img src="https://moods.imood.com/display/uname-madmadmaya/fg-dcd8d2/trans-1/imood.gif" alt="The current mood of madmadmaya at www.imood.com"></a>
		<p><strong>Maya</strong> ~ <i class="fas fa-star"></i> <small><i>(he/they)</i></small></p>
		<p><i>b. 2004, United States</i></p>
		<p>Born and raised in California, Maya is a self-taught artist and programmer. Primarily an illustrator, but dabbling in many mediums, he is intrigued by the taboo and feminine. Playful sexuality and mental struggle being core topics.</p>
		<p>Much of their work is based in the '10s and present, with inspiration stemming from Japanese anime and kawaii subculture, kink and fetish art, pinup art, psychology, religion, alterative fashion, horror games, furries, the internet, and stereotypically girly media.</p>
		<p>Driven by his deepest desire, he creates a universe filled with flawed and fashionable juujin. By touching on personal experiences in his various projects, he hopes he can help others feel less alone. Currently, Maya focuses on creating digital illustrations and short animations.</p>
	</section>
	<section>
		<!-- <div id="statuscafe" class="text-dim">
			<div id="statuscafe-username"></div>
			<div id="statuscafe-content"></div>
			<script src="https://status.cafe/current-status.js?name=madmadmaya" defer></script>
		</div> -->
	</section>
</Layout>


