---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Email" description="My contact information.">
	<section class="text-center">
		<ul>
			<li>This email address is for business inquiry.</li>
			<li>Please do not send attachments.</li>
		</ul>
		<br>
		<p><a href="mailto:contact@mmdungeon.xyz">contact@mmdungeon.xyz</a></p>
	</section>
</Layout>

