---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Games" description="My games.">
    <p><small><a class="text-dim" href="https://mayaitchio.itch.io/" target="_blank" rel="noopener noreferrer">PLAY ON ITCH.IO</a></small></p>
    <section>

    </section>
</Layout>