---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Button from '../assets/img/button.gif';
---
<Layout title="Home" description="Welcome to the dungeon.">
	<section class="text-center">
		<Image src={Button} alt="Website button" class="m-auto" />
		<p>
			<small>This site is 18+. No AI/repost/reuse.</small>
			<br> Welcome to the dungeon, my world of furry sadgirls. ⋆˙⟡
			<br> <i> <a href="https://guestbook.mmdungeon.xyz" target="_blank" rel="noopener noreferrer">Leave a message! ૮ ◞ ﻌ ◟ ა</a></i>
		</p>
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
		<a href="https://www.mabsland.com/Adoption.html"><img src="http://www.mabsland.com/Pandas/Censor_NC17a.gif" alt="" class="m-auto"></a>
		<!-- <div><a href="https://commissions.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Interested in commissions? Check my Vgen"></a></div> -->
		<!-- <div><a href="https://join.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Join the Patreon + Discord community"></a></div> -->
	</section>
</Layout>