---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import button from '../assets/img/button.gif';
import welcome from '/src/assets/img/collection/extra/welcome5.gif';
import sprite from '../assets/img/art/sprites/bussy.png';
import secretblog from '../assets/img/art/secretblog.png';
---
<Layout title="Home" description="Welcome to the dungeon.">
	<section class="text-center">
		<Image src={welcome} alt="Website button" class="m-auto" />
		<p>Welcome to the dungeon ★ my website, blog, and archive. ⋆˙꩜ <br> 18+. No repost/reuse. <i>Updates every Wednesday.</i> <br> <a href="https://guestbook.mmdungeon.xyz" target="_blank" rel="noopener noreferrer">Sign the guestbook! <3</a></p>
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
		<Image src={button} alt="Website button" class="m-auto" />
		<!-- <a href="https://hillhouse.neocities.org/journal/notes/palestine"><img src="https://hillhouse.neocities.org/_images/toybox/_buttons/standwith.png" alt="" class="m-auto"></a> -->
	</section>
	<section>
		<!-- <div><a href="https://commission.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Interested in commissions?"></a></div> -->
		<!-- <div><a href="https://newsletter.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Join the Newsletter: Patreon + Discord community"></a></div> -->
		<div><a href="https://microblog.mmdungeon.xyz/" target="_blank" rel="noopener noreferrer"><img src="" alt="My secret microblog"></a></div>
	</section>
</Layout>