---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Button from '../assets/img/button.gif';
---
<Layout title="Home" description="Welcome to the dungeon.">
	<section class="text-center">
		<Image src={Button} alt="Website button" class="m-auto" />
		<p>
			<small>This site is 18+. No AI/repost/reuse.</small>
			<br> Welcome to the dungeon, a world of magickal, emo juujin. <i class="fas fa-star"></i>
			<br> <a href="https://mmdungeon.atabook.org/" target="_blank" rel="noopener noreferrer">Leave a message!</a>
		</p>
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
		<!-- <div><a href="https://www.patreon.com/cw/madmadmaya" target="_blank" rel="noopener noreferrer"><img src="" alt="Join the Patreon + Discord for releases"></a></div> -->
	</section>
	<section>
		<h3>News</h3>
		<p><i>(nothing yet...)</i></p>
	</section>
</Layout>