---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Links" description="My links.">
	<section class="text-left">
		<details>
			<summary>Resources</summary>
			<ul class="list-disc">
				<li><a href="https://hillhouse.neocities.org/journal/notes/palestine" target="_blank" rel="noopener noreferrer">Free Palestine</a></li>
				<li><a href="https://crushcapitalism.neocities.org/" target="_blank" rel="noopener noreferrer">Let's Crush Capitalism</a></li>
				<li><a href="https://annas-archive.gl/" target="_blank" rel="noopener noreferrer">Anna's Archive</a></li>
				<li><a href="https://wowroms.com/en/" target="_blank" rel="noopener noreferrer">WowRoms</a></li>
				<li><a href="https://kaomoji.you/en/" target="_blank" rel="noopener noreferrer">Kaomojis</a></li>
				<li><a href="https://pixelsafari.neocities.org/" target="_blank" rel="noopener noreferrer">Coco's Pixel Safari</a></li>
			</ul>
		</details>
		<details>
			<summary>Inspirations</summary>
			<ul class="list-disc">
				<li><a href="http://mizuno-junko.com/" target="_blank" rel="noopener noreferrer">Junko Minuzo</a></li>
				<li><a href="https://pinkmoondoll9shihtzu.neocities.org/" target="_blank" rel="noopener noreferrer">PMD9</a></li>
				<li><a href="https://y-hill.net/" target="_blank" rel="noopener noreferrer">Yan-Hill</a></li>
				<li><a href="https://axayacatl.neocities.org/" target="_blank" rel="noopener noreferrer">Axacatyl</a></li>
				<li><a href="https://asiteforatrueloser.neocities.org/" target="_blank" rel="noopener noreferrer">My old neocities site I got locked out of</a></li>
			</ul>
		</details>
	</section>
</Layout>

