---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Links" description="My links.">
	<section>
		<p>(nothing yet)</p>
		<ol>
			<li><a href=""></a></li>
		</ol>
	</section>
</Layout>

