---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Links" description="My links.">
	<section>
		<details>
			<summary>Inspirations</summary>
			<ol class="flex gap-4 justify-center my-5 m-auto">
				<li><a href="https://cinni.net/">cinni.net</a></li>
				<li><a href="https://sadgrl.online/">sadgrl.online</a></li>
				<li><a href="https://pinkmoondoll9shihtzu.neocities.org/">pmd9</a></li>
				<li><a href="http://www.mizuno-junko.com/01_news_e.html">junko minuzo</a></li>
				<li><a href="https://y-hill.net/">yan-hill</a></li>
				<li><a href="https://grossgirl94.neocities.org/">grossgirl94</a></li>
				<li><a href="https://ita.toys/">ita.toys</a></li>
				<li><a href="https://axayacatl.neocities.org/">axayacatl</a></li>
			</ol>
		</details>
	</section>
</Layout>

