---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Music" description="My music.">
    <p><small><a class="text-dim" href="" target="_blank" rel="noopener noreferrer">PURCHASE</a></small></p>
    <section>

    </section>
</Layout>