---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Music" description="My music.">
    <p><small><a class="text-dim" href="https://madmadmaya.bandcamp.com/" target="_blank" rel="noopener noreferrer">PURCHASE ON BANDCAMP</a></small></p>
    <section>

    </section>
</Layout>