---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Music" description="My music.">
	<section>
	</section>
	<!-- <div id="webamp"></div> -->
	<script src="/src/assets/lib/js/webamp.js"></script>
</Layout>


