---
import Layout from '../layouts/Layout.astro';
---
<Layout title="News" description="Updates from the dungeon.">
	<section class="text-left">
		<h3>Update Log</h3>
		<ul class="list-disc">
			<li><strong>5/10/26:</strong> Restructured layout, add news + links.</li>
		</ul>
	</section>
	<section>
		<a href="https://www.imood.com/users/mortalmutt"><img src="https://moods.imood.com/display/uname-mortalmutt/fg-FFFFFF/trans-1/imood.gif" alt="The current mood of mortalmutt at www.imood.com" border="0" class="m-auto"></a>
		<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=mortalmutt" defer></script>
	</section>
</Layout>


