---
import Layout from '../layouts/Layout.astro';
---
<Layout title="News" description="Updates from the dungeon.">
	<section>
		<div id="statuscafe" class="text-dim text-sm leading-4 flex flex-wrap gap justify-center">
			<div id="statuscafe-username"></div>
			<div id="statuscafe-content"></div>
			<script src="https://status.cafe/current-status.js?name=madmadmaya" defer></script>
		</div>
	</section>
	<section class="text-left">
		<h3>Update Log</h3>
		<ul class="list-disc py-3">
			<li><strong>5/10/26:</strong> Restructured layout, add news + links.</li>
		</ul>
	</section>
</Layout>


