---
import Layout from '../layouts/Layout.astro';
import Button from '../assets/img/button.gif';
---
<Layout title="News" description="Welcome to the dungeon.">
	<section>
		<p class="text-dim">(nothing yet...)</p>
	</section>
</Layout>