---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
---
<Layout title="Videos" description="My videos.">
	<section>
    	<p><small><a class="text-dim" href="https://www.youtube.com/@madmadmaya" target="_blank" rel="noopener noreferrer">WATCH ON YOUTUBE</a></small></p>
	</section>
</Layout>


