---
import Layout from '../layouts/Layout.astro';
---
<Layout title="" description="My writing.">
	<section class="text-left">
		<ol>
			<li><a href="/work/drawings">Drawings</a></li>
			<li><a href="/work/music">Music</a></li>
			<li><a href="/work/games">Games</a></li>
			<li><a href="/work/videos">Videos</a></li>
		</ol>
	</section>
</Layout>

