<aside class="flex-1/5 p-3 text-xl font-subtitle text-center">
	<nav>
    	<ul>
        	<li><a href="/">Home</a></li>
        	<li><a href="/news/">News</a></li>
        	<li><a href="/about/">About</a></li>
        	<li><a href="/blog/">Blog</a></li>
        	<li><a href="/art/">Art</a></li>
			<!-- <li><a href="https://videos.mmdungeon.xyz" target="_blank" rel="noopener noreferrer">Videos</a></li> -->
			<!-- <li><a href="http://music.mmdungeon.xyz" target="_blank" rel="noopener noreferrer">Music</a></li> -->
			<!-- <li><a href="http://games.mmdungeon.xyz" target="_blank" rel="noopener noreferrer">Games</a></li> -->
        	<li><a href="/shrines/">Shrines</a></li>
        	<li><a href="/collection/">Collection</a></li>
        	<li><a href="/links/">Links</a></li>
    	</ul>
	</nav>
</aside>
