<aside class="flex-1/5 p-3 text-xl font-subtitle">
	<nav>
    	<ul>
        	<li><a href="/">Home</a></li>
        	<li><a href="/about/">About</a></li>
        	<li><a href="/blog/">Blog</a></li>
        	<li><a href="/art/">Art</a></li>
        	<!-- <li><a href="/music/">Music</a></li> -->
        	<!-- <li><a href="/games/">Games</a></li> -->
        	<li><a href="/shrines/">Shrines</a></li>
        	<li><a href="/collection/">Collection</a></li>
        	<li><a href="/email/">Email</a></li>
    	</ul>
	</nav>
</aside>
