---
import sprite from '../../assets/img/art/sprites/bussy.png';
---
<div class="fixed -bottom-6 -right-2 w-70">
			<!-- <a href="https://merch.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"> -->
				<img src={sprite.src} alt="Merch link">
			<!-- </a> -->
		</div>