---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Games" description="My games.">
    <section>

    </section>
    <section>
        <a href="/work">return</a>
    </section>
</Layout>