/* Import */
@import "tailwindcss";

/* Font Face */
@font-face {
    font-family: display;
    src: url('/src/assets/lib/fonts/Curely-Free Typeface.ttf');
}

/* Theme */
@theme {
    --font-display: display;
    --color-bg: #000;
    --color-fg: #fff;
    --color-accent: #d5a9c4;
    --color-dim: #584663;
}
::selection {
    background: var(--color-dim);
    color: var(--color-fg);
}

/* Elements */
html {
    @apply scroll-smooth px-5;
    background-image: url("../src/assets/img/header.jpg");
}
body {
    @apply text-base font-sans bg-bg text-fg text-center leading-6;
}
header, aside, nav, main, footer, section {
    @apply p-3;
}
h1 {
    @apply text-7xl mb-6 font-display tracking-widest;
}
h2 {
    @apply text-4xl mb-4 text-accent text-center;
}
h3 {
    @apply text-2xl mb-4 text-accent;
}
p {
    @apply my-3;
}
a {
    @apply text-accent;
}
button {
    @apply text-accent;
}
small {
    @apply text-dim;
}
img {
    @apply p-2;
}